<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.kol.mapper.KolTagCategoryMapper">

	<select id="queryListByParentId" parameterType="Object" resultType="org.jeecg.modules.kol.model.TreeSelectModel">
		select category_code,
			   category_name as "title",
			   id as "key",
			   (case when is_has_child = 1 then 0 else 1 end) as isLeaf,
		       parent_id as parentId
			   from kol_tag_category
			where parent_id = #{parentId}
			<if test="query!= null">
				<foreach collection="query.entrySet()" item="value"  index="key" >
					and ${key} = #{value}
				</foreach>
			</if>
	</select>

	<!-- 递归查询类目路径 -->
	<select id="findCategoryWithSubNodes" resultType="org.jeecg.modules.kol.entity.KolTagCategory">
		WITH RECURSIVE cte AS (
			SELECT id, category_name, parent_id
			FROM kol_tag_category
			WHERE id = #{categoryId}
			UNION ALL
			SELECT k.id, k.category_name, k.parent_id
			FROM kol_tag_category k
					 INNER JOIN cte ON k.parent_id = cte.id
		)
		SELECT * FROM cte
	</select>



</mapper>
