<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.kol.mapper.KolTagProductMapper">

    <select id="setBrandProductTags" resultType="java.lang.String">
        SELECT DISTINCT
        tag_name
        FROM
        kol_tag_product
        where product_id in
        <foreach collection="productIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getTagProductDetails" resultType="org.jeecg.modules.kol.entity.KolTagProduct">
        SELECT
        a.tag_id,
        a.product_id,
        a.product_name,
        a.brand_name,
        a.brand_id
        FROM
        kol_tag_product a
        LEFT JOIN kol_product b ON a.product_id = b.id
        WHERE
        a.tag_id IN
        <foreach collection="tagIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND a.product_id != ''
        AND a.product_name IS NOT NULL
        AND a.brand_name IS NOT NULL
        AND a.brand_id IS NOT NULL
    </select>
</mapper>